In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
pd.options.display.max_rows = 100
pd.options.display.max_columns = None

### Success Defined Through Revenue

- Find the highest profitting films 
    - genres 
    - actors 
    - directors 
    - budget 
    - word title
    - length

### 23m Data (profit/revenue)

In [2]:
ratings_25m = pd.read_csv('../../data/m_23/movies_metadata.csv')
print(ratings_25m.shape)
print(ratings_25m.columns)
ratings_25m.head(3)

(45466, 24)
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

/Users/samuel/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:

#revenue_df['profit'] = round(pd.to_numeric(revenue_df.revenue) - pd.to_numeric(revenue_df.budget), 2)
col = ['imdb_id', 'title', 'release_date', 'budget', 'revenue', 'genres', 'adult', 'overview']
revenue_df = ratings_25m[[i for i in col]]

In [4]:

def budget_numeric(df): 
    new_col = []
    new_df = df[[i for i in df.columns.to_list() if i!= 'budget']]
    col_val = np.array(df[f'budget'])
    for item in col_val: 
        if '.jpg' in item: 
            new_col.append(None)
        else: 
            new_col.append(float(item))
    new_df['budget'] = new_col
    return new_df

def profits(df):
    new_df = df
    new_df['profit'] = round(new_df.revenue - new_df.budget,2)
    return new_df

def dates_func(x):
    if type(x) != str: 
        return None
    else: 
        return x.split('-')[0]
def dates(df): 
    dates = df.release_date 
    df.drop(['release_date'], axis = 1, inplace = True)
    df['date'] = dates.map(dates_func)
    return df

def genres(df):
    genre_list = df.genres.values
    new_genres = []
    for i in tqdm(genre_list): 
        if i[0] == '[' and i[1] == ']': 
            new_genres.append(None)
            continue 
        i_split = i.split('}, ')
        first_i = i_split[0]
        name_loc = first_i.find("'name': ")
        new_i = first_i[name_loc +9:]
        new_i = new_i[:new_i.find("'")].strip()
        new_genres.append(new_i)
    df.drop(['genres'], axis = 1, inplace = True)
    df['genre'] = new_genres
    return df
        


    

                    
cleaned_23m = budget_numeric(revenue_df)
cleaned_23m = profits(cleaned_23m)
cleaned_23m = dates(cleaned_23m)
cleaned_23m = genres(cleaned_23m)
cleaned_23m.head()
cleaned_23m.to_csv('../UsedData/23mRevenue.csv', index = False)

100%|██████████| 45466/45466 [00:00<00:00, 481080.10it/s]

In [5]:
cleaned_23m

,imdb_id,title,revenue,adult,overview,budget,profit,date,genre
0,tt0114709,Toy Story,373554033.0,False,"Led by Woody, Andy's toys live happily in his ...",30000000.0,343554033.0,1995,Animation
1,tt0113497,Jumanji,262797249.0,False,When siblings Judy and Peter discover an encha...,65000000.0,197797249.0,1995,Adventure
2,tt0113228,Grumpier Old Men,0.0,False,A family wedding reignites the ancient feud be...,0.0,0.0,1995,Romance
3,tt0114885,Waiting to Exhale,81452156.0,False,"Cheated on, mistreated and stepped on, the wom...",16000000.0,65452156.0,1995,Comedy
4,tt0113041,Father of the Bride Part II,76578911.0,False,Just when George Banks has recovered from his ...,0.0,76578911.0,1995,Comedy
...,...,...,...,...,...,...,...,...,...
45461,tt6209470,Subdue,0.0,False,Rising and falling between a man and woman.,0.0,0.0,None,Drama
45462,tt2028550,Century of Birthing,0.0,False,An artist struggles to finish his work while a...,0.0,0.0,2011,Drama
45463,tt0303758,Betrayal,0.0,False,"When one of her hits goes wrong, a professiona...",0.0,0.0,2003,Action
45464,tt0008536,Satan Triumphant,0.0,False,"In a small town live two brothers, one a minis...",0.0,0.0,1917,None
45465,tt6980792,Queerama,0.0,False,50 years after decriminalisation of homosexual...,0.0,0.0,2017,None

## MovieLens Data for Genre and Ratings

In [6]:
def dates(x):
    num = '1 2 3 4 5 6 7 8 9 0'.split()
    if x.strip()[-1] != ')' or x.strip()[-2] not in num: 
        return None
    else: 
        return x.strip()[-5:-1]

def title(x): 
    num = '1 2 3 4 5 6 7 8 9 0'.split()
    x = x.strip()
    if x[-1] != ')' or x[-2] not in num: 
        return x
    else: 
        return x[:-5]

In [7]:
movie_lens = pd.read_csv('../../data/MovieLens/movies.csv')
print(movie_lens.shape)
print(movie_lens.columns)
movie_lens['date'] = movie_lens.title.map(dates)
title_s = movie_lens['title']
movie_lens.drop(['title'], axis = 1, inplace = True)
movie_lens['title'] = title_s.map(lambda x: x[:-6].strip())
movie_lens = movie_lens[['movieId', 'title', 'date', 'genres']].sort_values(by = ['date'], ascending = False)
movie_lens.head(5)

(62423, 3)
Index(['movieId', 'title', 'genres'], dtype='object')

,movieId,title,date,genres
60321,203022,"Oh, Ramona!",2019,Comedy|Romance
59741,201536,1%,2019,Drama
59174,200272,Nancy Drew and the Hidden Staircase,2019,Children|Comedy|Crime|Mystery
60871,204356,Billion,2019,Action|Comedy
60327,203034,The River and the Wall,2019,Documentary

In [8]:
from collections import defaultdict
def sort_genres(df):
    genre_dict = defaultdict(int)
    genre_list = np.array(df.genres)
    for genre in tqdm(genre_list): 
        g_split = genre.split('|')
        for i in g_split:
            genre_dict[i]+=1
    for g in tqdm(genre_dict.keys()): 
        df[f'{g}'] = [0 for i in range(len(df))]
    for pos in tqdm(range(len(df))): 
        row = df.iloc[pos]
        g_split = row['genres'].split('|')
        for i in g_split: 
            df.iloc[pos, df.columns.get_loc(f'{i}')] = 1
    df.to_csv('../UsedData/MovieLensMoviesCleaned.csv', index = False)
    return df
        
        

movie_lens_sorted = sort_genres(movie_lens)

100%|██████████| 62423/62423 [00:00<00:00, 958321.27it/s]
100%|██████████| 20/20 [00:00<00:00, 50.87it/s]
100%|██████████| 62423/62423 [01:08<00:00, 916.91it/s]

In [9]:
movie_lens_movies = movie_lens_sorted

In [10]:
movie_lens_movies

,movieId,title,date,genres,Comedy,Romance,Drama,Children,Crime,Mystery,Action,Documentary,Fantasy,Thriller,Horror,Animation,Adventure,Sci-Fi,(no genres listed),War,Western,Musical,IMAX,Film-Noir
60321,203022,"Oh, Ramona!",2019,Comedy|Romance,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
59741,201536,1%,2019,Drama,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
59174,200272,Nancy Drew and the Hidden Staircase,2019,Children|Comedy|Crime|Mystery,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
60871,204356,Billion,2019,Action|Comedy,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
60327,203034,The River and the Wall,2019,Documentary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62071,207714,Tales of Found F,None,(no genres listed),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
62104,207884,Enduring D,None,(no genres listed),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
62285,208597,Punk the Capital: Building a Sound Mo,None,Documentary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
62326,208763,Yosemite: The Fate of,None,(no genres listed),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
62380,208973,The Falklands War: The Untold,None,(no genres listed),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

### MovieLens Ratings

In [11]:
cd ../data/m_23

[Errno 2] No such file or directory: '../data/m_23'
/Users/samuel/Documents/Projects/Project1/Project1Flatiron/Notebooks

In [12]:
#movie_lens_ratings = pd.read_csv('data/MovieLens/ratings.csv')

ratings_23m = pd.read_csv('../../data/m_23/ratings.csv')

### Merge Ratings, revenues, movies

In [13]:
def agg_ratings(df):
    grouped_df = df.groupby('movieId')
    rating_avg = grouped_df.rating.mean().values
    sum_interactions = grouped_df.rating.count()
    movie_id = sum_interactions.index
    sum_inter = sum_interactions.values
    new_df = pd.DataFrame({'movieId': movie_id, 'AvgRating': rating_avg, 'NumInteractions': sum_interactions})
    new_df.to_csv('../UsedData/MovieLensRatingsAgg.csv', index = False)
    return new_df.reset_index(drop = True)
    

    
    
    

def merge_df(revenue_df, movie_df, rating_df):
    
    #merge revenue and movie first 
    merge_df = pd.merge(movie_df, revenue_df, how = 'inner', on = ['title', 'date']).dropna(subset = ['title'])
    
    rating_df = agg_ratings(rating_df)

    merge_df = pd.merge(merge_df, rating_df, how = 'inner', on = ['movieId']).drop(['genres'], axis = 1)
    
    merge_df.to_csv('../UsedData/Merged_ratings_movies_revenue_New.csv', index = False)
    return merge_df
    
    
 

merged_df = merge_df(cleaned_23m, movie_lens_movies, ratings_23m)

In [14]:
merged_df

,movieId,title,date,Comedy,Romance,Drama,Children,Crime,Mystery,Action,Documentary,Fantasy,Thriller,Horror,Animation,Adventure,Sci-Fi,(no genres listed),War,Western,Musical,IMAX,Film-Noir,imdb_id,revenue,adult,overview,budget,profit,genre,AvgRating,NumInteractions
0,169892,The Raking,2017,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,tt4897358,0.0,False,THE RAKING tells the story of a group of colle...,0.0,0.0,Horror,1.200000,5
1,176051,LEGO DC Super Hero Girls: Brain Drain,2017,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,tt7158814,0.0,False,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",0.0,0.0,Animation,1.500000,2
2,176057,Take Me,2017,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,tt6598626,0.0,False,Ray is a fledgling entrepreneur who specialize...,0.0,0.0,Comedy,3.500000,1
3,167858,Trespass Against Us,2017,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,tt3305308,0.0,False,Three generations of the rowdy Cutler family l...,0.0,0.0,Action,2.714286,21
4,169888,Kaabil,2017,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,tt5460276,0.0,False,"Rohan (Hritik roshan) is a kind, happy young m...",5200000.0,-5200000.0,Action,4.200000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29969,148050,Traffic Crossing Leeds Bridge,1888,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,tt0343112,0.0,False,"A film by Louis Aimé Augustin Le Prince, shot ...",0.0,0.0,Documentary,2.333333,9
29970,148042,Accordion Player,1888,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,tt1758563,0.0,False,The last remaining film of Le Prince's LPCCP T...,0.0,0.0,Documentary,1.000000,3
29971,148040,Man Walking Around a Corner,1887,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,tt2075247,0.0,False,The last remaining production of Le Prince's L...,0.0,0.0,Documentary,2.083333,6
29972,166800,Buffalo Running,1883,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,tt5459794,0.0,False,Individual photographs of the running of a buf...,0.0,0.0,Documentary,1.833333,3
29973,148048,Sallie Gardner at a Gallop,1878,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,tt2221420,0.0,False,Sallie Gardner at a Gallop was one of the earl...,0.0,0.0,Documentary,3.055556,9